<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>サイトタイトル</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/box.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/box.css" />
</head>
<body>
    <header>
    </header>
    <main>
        <center>
            <table>
                @for (var i = 1; i <= 6; i++) {
                    <tr>
                    @for (var j = 1; j <= 10; j++) {
                        <td class="box" id="@(i)_@(j)" onclick="box_click(this);"></td>
                        @if (j % 2 == 0) {
                            <td class="space"></td>
                        }
                    }
                    </tr>
                }
            </table>
            <input type="text" id="box_select" name="box_select" value="" />
            <input type="text" id="reserved" name="reserved" value="1_1,1_3,1_8" />
        </center>
    </main>
    <footer>
    </footer>
</body>
</html>
