<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>サイトタイトル</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript">
        /**
         * 予約済みの席を特定
         */
        function box_reserved() {
            const reserved = document.getElementById("reserved").value.trim().split(',');
            reserved.forEach(id => {
                document.getElementById(id).classList.add("box_reserved");
            });
        }

        /**
         * 選択した席を設定
         */
        function box_click(dom) {
            document.getElementById("box_select").value = dom.id;
        }

        /**
         * 初期表示
         */
        window.onload = () => {
            box_reserved();
        }
    </script>
    <style>
        body {
            margin: 10px;
        }
        td.box {
            border: solid 1px;
            width: 100px;
            height: 100px;
        }
        td.box:hover {
            background-color: lightblue;
        }
        td.box_reserved {
            background-color: darkgray;
        }
        td.space {
            border: 0 !important;
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <header>
    </header>
    <main>
        <center>
            <table>
                @for (var i = 1; i <= 6; i++) {
                    <tr>
                    @for (var j = 1; j <= 10; j++) {
                        <td class="box" id="@(i)_@(j)" onclick="box_click(this);"></td>
                        @if (j % 2 == 0) {
                            <td class="space"></td>
                        }
                    }
                    </tr>
                }
            </table>
            <input type="text" id="box_select" name="box_select" value="" />
            <input type="text" id="reserved" name="reserved" value="1_1,1_3,1_8" />
        </center>
    </main>
    <footer>
    </footer>
</body>
</html>
